*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
};

header {
    height: 70px;
    background-color: #a3b18a;
    border-radius: 15px;

};

#history {
    background-color: hotpink;
    border-radius: 15px;
    height: 100px;
};